[submodule "refs/Waza"]
	path = refs/Waza
	url = git@github.com:tw93/Waza.git
	branch = main
	update = merge
[submodule "refs/mattpocock-skills"]
	path = refs/mattpocock-skills
	url = git@github.com:mattpocock/skills.git
	branch = main
	update = merge
[submodule "refs/lark-skills"]
	path = refs/lark-skills
	url = git@github.com:larksuite/cli.git
	branch = main
	update = merge
[submodule "refs/hai-stack"]
	path = refs/hai-stack
	url = git@github.com:hylarucoder/hai-stack.git
	branch = main
	update = merge
[submodule "refs/ponytail"]
	path = refs/ponytail
	url = git@github.com:DietrichGebert/ponytail.git
	branch = main
	update = merge
[submodule "mt-skills"]
	path = mt-skills
	url = git@lf.git.oa.mt:brianzuo/mt-skills.git
	branch = main
	update = merge
