[submodule "refs/Waza"]
	path = refs/Waza
	url = git@github.com:tw93/Waza.git
	branch = main
	update = merge
[submodule "refs/mattpocock-skills"]
	path = refs/mattpocock-skills
	url = git@github.com:mattpocock/skills.git
	branch = main
	update = merge
[submodule "refs/lark-skills"]
	path = refs/lark-skills
	url = git@github.com:larksuite/cli.git
	branch = main
	update = merge
